***Lists***

In [34]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [35]:
#Access items from List
thislist = ["apple", "banana", "cherry"]
print(thislist[0])
print(thislist[-1])
print(thislist[-2])

apple
cherry
banana

In [36]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[2:-2])

['cherry', 'orange', 'kiwi']
['cherry', 'orange', 'kiwi']

In [37]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[2:-2])

['cherry', 'orange', 'kiwi']
['cherry', 'orange', 'kiwi']

In [38]:
# Append
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [39]:
#Insert
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [40]:
#Extend
thislist = ["apple, banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple, banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [41]:
#Remove
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [42]:
#Loops
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry
apple
banana
cherry

***Tuples***

In [43]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [44]:
#Access
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])

banana
mango
('cherry', 'orange', 'kiwi')

In [45]:
#Unpack
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [46]:
#Loops
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry
apple
banana
cherry

***Dictionaries***

In [47]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [48]:
#Access
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = thisdict.keys()
print(x)

y = thisdict.values()
print(y)

z = thisdict.items()
print(z)

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [49]:
#Add items
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [50]:
#Update
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

thisdict.update({"year": 2021})
print(thisdict)

thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2021}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2021, 'color': 'red'}

In [51]:
#Remove
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [52]:
#Loops
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

print("===keys===")
for x in thisdict.keys():
    print(x)

print("===values===")
for x in thisdict.values():
    print(x)

print("===items===")
for x, y in thisdict.items():
    print(x, y)

===keys===
brand
model
year
===values===
Ford
Mustang
1964
===items===
brand Ford
model Mustang
year 1964